.content-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-block__text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
}

.content-block__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 46px;
}

.content-block__item {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
}

.content-block__item object {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
}
