@font-face {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/static/Epilogue-Regular.ttf');
}

@font-face {
  font-family: Epilogue;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/static/Epilogue-SemiBold.ttf');
}
