.description-game__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;

  padding-top: 70px;
  padding-bottom: 70px;
}

.gallery {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.gallery__item {
  align-self: center;
}

.gallery__item img {
  width: 100%;
  height: auto;
}

.galery__item_big {
  grid-column: span 2;
  grid-row: span 2;
}

.description-game__text {
  margin-bottom: 45px;

  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: var(--lucky-gray);
}

.description-game__text span {
  color: var(--nancy);
  font-weight: 700;
}
